@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: url("../img/bg-blue.png");
  letter-spacing: 0.2px;
  background-position: center -150px; }

.hidden {
  display: none; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background-color: #ccc; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f7a417; }

::selection {
  background: #f7a417; }

::-moz-selection {
  background: #f7a417; }

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; }

nav {
  margin: 50px 0; }
  nav .icon-menu {
    display: none;
    margin-top: 28px;
    margin-left: 28px;
    cursor: pointer;
    position: relative;
    right: 0; }
    nav .icon-menu img {
      width: 30px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
    nav ul li {
      display: inline-block;
      margin: 0 20px; }
      nav ul li a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        transition: 0.3s; }
        nav ul li a:hover {
          color: #febf13;
          text-decoration: none; }
        nav ul li a:active {
          color: #fff;
          text-decoration: none; }

.about {
  margin-bottom: 70px; }
  .about .photo img {
    width: 100%; }
  .about .text {
    background: #fff;
    padding: 40px 90px; }
    .about .text h1 {
      color: #febf13;
      text-align: center;
      margin-top: 0;
      text-transform: uppercase; }
    .about .text p {
      line-height: 30px;
      color: #222222; }

footer {
  background: url("../img/bg-yellow.png");
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
  height: 150px; }
