/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #cssmenu {
    display: none;
    margin-top: 35px;
    width: inherit; }
    #cssmenu ul {
      position: relative;
      text-align: right;
      background: #fff;
      padding: 20px;
      float: right;
      width: 300px;
      margin-top: 0;
      border-top: 3px solid #b51f23;
      border-bottom: 3px solid #b51f23; }
      #cssmenu ul .has-sub {
        width: 100%; }
        #cssmenu ul .has-sub img {
          display: none; }
      #cssmenu ul li {
        margin-left: 0;
        width: 100%;
        margin: 3px 0; }
        #cssmenu ul li a {
          padding: 6px 13px 4px 13px;
          font-size: 16px; }
          #cssmenu ul li a:hover {
            transition: .3s; }
        #cssmenu ul li ul {
          position: relative;
          width: inherit;
          background: #FFF;
          border-top: none;
          border-bottom: none;
          text-align: right;
          margin: 0; }
          #cssmenu ul li ul .has-sub {
            margin: 0 15px; }
          #cssmenu ul li ul li {
            padding-left: 0;
            background: none;
            border: none; }
            #cssmenu ul li ul li a {
              color: #b51f23 !important;
              font-size: 14px; }
  .why-we {
    overflow: auto; }
  .service ul li:nth-child(2) {
    margin-bottom: 30px; }
  .news-main-preview img {
    width: 100%; }
  footer ul li img {
    margin-right: 5px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .top-line {
    height: 75px; }
    .top-line ul {
      float: inherit;
      text-align: center; }
    .top-line ul.top-line-left li:nth-child(3) {
      margin-top: 5px;
      margin-left: 0; }
  .icon-menu {
    margin-top: 54px; }
  .item-why {
    width: 320px; }
  .service ul li img {
    width: 300px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }
  .top-line {
    height: 100px; }
  .wrapper-menu {
    margin-top: -33px;
    margin-right: 10px; }
  .icon-menu {
    margin-top: 0; }
  .service ul li {
    margin: 0px 70px 30px 70px; }
  .service .button-gray {
    margin-top: 0; }
  footer {
    text-align: center; }
    footer h2 {
      margin-top: 30px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 765px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
  .news-right-preview ul li {
    height: inherit;
    border-bottom: none;
    margin-bottom: 30px; } }

@media only screen and (max-width: 528px) {
  .service ul li {
    margin: 0px 0px 30px 0px; }
  .copyright {
    text-align: center; }
    .copyright .text {
      float: inherit; }
    .copyright img {
      float: inherit;
      margin-top: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 420px) {
  .top-line {
    height: 122px; }
  ul.top-line-left li:nth-child(3) {
    width: 290px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .logo {
    text-align: center;
    margin-top: 25px; }
    .logo img {
      width: 90%; }
  .wrapper-menu {
    margin-top: 20px; }
  .news-right-preview ul li {
    margin-bottom: 20px; }
    .news-right-preview ul li img {
      float: inherit; }
    .news-right-preview ul li .detal {
      margin-top: 15px; }
      .news-right-preview ul li .detal h4 {
        margin-bottom: 0; }
        .news-right-preview ul li .detal h4 a {
          line-height: 18px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .item-why {
    width: 300px; }
  #cssmenu ul {
    text-align: center;
    width: 100%; }
  #cssmenu ul li ul {
    text-align: center; }
  .service ul li:nth-child(2) {
    margin: 0;
    margin-bottom: 30px; }
  .service ul li {
    margin: 0px 0px 30px 0px; }
    .service ul li img {
      width: 290px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .top-line {
    height: 152px; }
  ul.top-line-left li:nth-child(2) {
    width: 100%;
    margin-top: 5px;
    margin-left: 0; }
  .item-why {
    width: 290px; }
  .service ul li img {
    width: 285px; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #cssmenu {
    display: block !important; } }
