/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .nav-right {
    float: right; }

  .direct-project .photo {
    margin-left: 70px; }

  .meet-h {
    font-family: "ProximaNova-Reg";
    font-weight: 400; }

  .fd {
    display: block; }

  .meet h2 {
    line-height: 19px; }

  .developer {
    margin-top: 0; }

  footer nav {
    margin-bottom: 13px; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  nav button {
    margin: 17px 0 13px 0;
    font-size: 22px; }
  nav .icon_menu {
    display: block; }
  nav .accordion {
    display: none;
    position: absolute;
    width: 400px;
    background: #804b4b;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    padding: 20px 0;
    left: 50%;
    margin-left: -200px;
    margin-top: 22px; }
    nav .accordion li {
      display: block;
      margin-left: 0;
      padding: 8px 0; }

  .submenu {
    position: inherit;
    padding: 0;
    border: none;
    padding: 0;
    margin-top: 5px;
    margin-left: 0;
    width: inherit; }
    .submenu a {
      color: #828282; }

  .nav-right {
    display: none !important; }

  .hidden-menu-right {
    display: block !important; }

  .phone-top {
    display: block;
    float: right;
    margin-top: -66px; }

  .logo {
    top: -68px;
    margin-top: 0; }

  .heading {
    margin-top: 226px; }
    .heading h1 {
      font-size: 74px; }
      .heading h1 span {
        font-size: 52px;
        margin-left: -6px;
        margin-top: -25px; }
    .heading h2 {
      margin-top: -45px; }

  .direct-project .photo {
    margin-left: 0; }
  .direct-project .text {
    margin-left: 30px;
    width: 395px;
    margin-top: 70px; }
    .direct-project .text h2 {
      font-size: 40px; }
    .direct-project .text .blockquote1 {
      top: 82px;
      left: -34px; }

  .bid {
    font-size: 10px; }

  .meet h2 {
    line-height: 16px;
    font-size: 27px; }

  .soc ul li {
    margin-left: 19px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices */
  .animated {
    /*CSS transitions */
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms */
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations */
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }

  header {
    height: 697px; }

  .logo {
    width: 176px;
    height: 176px;
    background-image: url("../img/logo768.png");
    margin-left: -88px; }
    .logo img {
      width: 100%; }

  .heading {
    margin-top: 170px; }
    .heading h1 {
      font-size: 9vw; }
      .heading h1 span {
        font-size: 6.4vw;
        margin-top: -1.5vw;
        margin-left: -3vw; }
    .heading h2 {
      margin-top: -4.5vw;
      font-size: 2.3vw; }

  .direct-project .text {
    margin-left: 0;
    width: auto;
    margin-top: 120px;
    padding-right: 15px; }
    .direct-project .text h2 {
      font-size: 5.5vw;
      line-height: 37px; }
    .direct-project .text .blockquote1 {
      display: none; }
    .direct-project .text .blockquote2 {
      display: block;
      position: absolute;
      top: -50px;
      left: -45px;
      z-index: -1; }
    .direct-project .text .status {
      margin-top: 6px; }

  .why-we {
    padding: 65px 0; }

  .why-we .col-text {
    margin-right: 0;
    width: 46%; }

  .trust {
    padding: 45px 0 65px 0; }

  .item-review .circle-border {
    width: 188px;
    height: 188px;
    padding: 11px; }
  .item-review .review-bg-white {
    width: 164px;
    height: 164px;
    border: 2px solid #fff; }
    .item-review .review-bg-white img {
      width: 40px;
      height: 40px;
      margin-left: -20px;
      margin-top: -20px; }
  .item-review .review-bg {
    width: 160px;
    height: 160px; }
  .item-review .review-bg2 {
    width: 160px;
    height: 160px; }

  .owl-review .owl-nav .owl-prev {
    top: 78px; }

  .owl-review .owl-nav .owl-next {
    top: 78px; }

  .bid {
    font-size: 12px; }

  .meet h2 {
    font-size: 3vw; }

  .meet-h {
    font-size: 20px; }

  /* Extra Small Devices, Phones */ }
@media only screen and (max-width: 700px) {
  footer nav {
    display: none; }

  .clear700b {
    display: flex;
    flex-direction: column; }

  .clear700b1 {
    order: 3; }

  .clear700b2 {
    order: 1; }

  .clear700b3 {
    order: 2; }

  .clear700 {
    width: 100%; }

  .developer {
    float: inherit;
    margin-top: 30px;
    margin-bottom: 6px; }

  .soc {
    margin-top: 35px; }

  .copyrite {
    text-align: center; }

  /* Extra Small Devices, Phones */ }
@media only screen and (max-width: 640px) {
  .bid {
    font-size: 10px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
  .direct-project .text {
    margin-top: 80px; }

  .why-we .col-photo {
    display: none; }
  .why-we .col-text {
    width: 100%; }

  .owl-partners {
    margin-top: 60px; }

  .partners {
    padding: 0 0 50px 0; }

  .clear-br {
    width: 100%; }

  .meet h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px; }

  .meet-h {
    margin-bottom: -27px;
    display: block; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .phone-top {
    display: none; }

  .button-768 {
    display: none; }

  .button-320 {
    display: block;
    margin-top: 18px; }

  .logo {
    top: -43px; }

  .heading h2 {
    font-size: 16px; }

  .direct-project {
    background: #f7f7f7; }
    .direct-project .photo {
      background-image: url("../img/direct320.png");
      width: 180px;
      height: 255px;
      margin-top: 7px;
      margin-right: -15px;
      float: right;
      margin-bottom: 0; }
    .direct-project .text320 {
      display: block;
      margin-left: 0;
      width: inherit;
      margin-top: 6px; }
      .direct-project .text320 h2 {
        font-size: 30px;
        line-height: 37px; }
      .direct-project .text320 .blockquote1 {
        display: block;
        position: absolute;
        top: 37px;
        left: 10px;
        z-index: -1; }
      .direct-project .text320 .status {
        margin-top: 6px; }
    .direct-project .text {
      display: none; }

  .heading-branch img {
    display: none; }

  .why-we {
    padding: 30px 0; }
    .why-we .col-text {
      margin-top: 30px; }

  .trust-slider {
    margin-top: 6px; }

  .item-advantages {
    width: 100%; }

  .owl-gallery .owl-nav {
    display: block; }
    .owl-gallery .owl-nav .owl-prev {
      top: 95px;
      left: 15px; }
    .owl-gallery .owl-nav .owl-next {
      top: 95px;
      right: 15px; }

  .owl-review {
    margin-top: 33px; }
    .owl-review .owl-dots {
      margin-top: 25px; }

  .owl-partners .owl-nav {
    display: block !important; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  header {
    height: 580px; }

  .heading {
    margin-top: 167px; }
    .heading h2 {
      margin-top: 30px; }

  .logo {
    width: 139px;
    height: 139px;
    background-image: url("../img/logo320.png");
    margin-left: -69.5px; }

  .arrow {
    display: none; }

  .partners {
    padding: 0 0 55px 0; }

  .owl-partners {
    margin-top: 70px; } }
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  nav .accordion {
    display: inline-block !important; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
