@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: url("../img/bg-blue.png");
  letter-spacing: 0.2px;
  background-position: center -150px; }

.hidden {
  display: none; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background-color: #ccc; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f7a417; }

::selection {
  background: #363636; }

::-moz-selection {
  background: #363636; }

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; }

nav {
  margin: 50px 0 40px 0; }
  nav .icon-menu {
    display: none;
    margin-top: 28px;
    margin-left: 28px;
    cursor: pointer;
    position: relative;
    right: 0; }
    nav .icon-menu img {
      width: 30px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
    nav ul li {
      display: inline-block;
      margin: 0 20px; }
      nav ul li a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        transition: 0.3s; }
        nav ul li a:hover {
          color: #febf13;
          text-decoration: none; }
        nav ul li a:active {
          color: #fff;
          text-decoration: none; }

.wrap-music {
  background: #f7f7f7;
  margin-top: 25px;
  padding-bottom: 50px; }

.box-photo {
  width: 240px;
  height: 240px;
  margin-left: 10px;
  margin-top: 10px;
  border: 4px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
  position: absolute;
  top: 0; }

.music-list h1 {
  color: #febf13;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 40px 0 80px 0; }
.music-list .item {
  margin-bottom: 80px;
  display: inline-block; }
  .music-list .item .photo-link:hover .box-photo {
    border: 4px solid white; }
  .music-list .item .photo {
    float: left;
    width: 261px;
    height: 261px; }
  .music-list .item .info {
    float: left;
    margin-left: 33px; }
    .music-list .item .info h2 {
      margin-top: 5px;
      margin-bottom: 8px;
      color: #414141;
      font-size: 16px;
      text-transform: uppercase; }
      .music-list .item .info h2 a.h-link {
        color: #414141;
        transition: 0.3s; }
        .music-list .item .info h2 a.h-link:hover {
          text-decoration: none;
          color: #febf13; }
    .music-list .item .info .year {
      color: #838383;
      font-size: 14px;
      font-style: italic;
      margin: 0; }
    .music-list .item .info .dot {
      margin: 0;
      margin-top: -20px; }
    .music-list .item .info ol {
      padding: 0;
      margin-left: 16px;
      margin-top: 12px; }
      .music-list .item .info ol li {
        font-size: 14px;
        line-height: 24px; }
    .music-list .item .info .link-a {
      color: #febf13;
      font-size: 14px; }

.wram-albom {
  padding-bottom: 90px; }

.albom h1 {
  color: #febf13;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 40px 0 0 0; }
.albom .year {
  font-size: 14px;
  text-align: center;
  color: #838383;
  font-style: italic;
  margin-bottom: 60px; }
.albom .disk {
  margin-bottom: 5px; }
  .albom .disk .box {
    width: 360px;
    height: 360px;
    float: left;
    border: 12px solid #e0e0e0; }
  .albom .disk img {
    margin-top: 11px; }
.albom .download {
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #444444;
  padding: 10px 15px 7px 15px;
  border-radius: 3px;
  transition: 0.3s;
  font-size: 15px;
  display: inline-block;
  margin-top: 25px; }
  .albom .download:hover {
    text-decoration: none;
    background: #444444;
    color: #fff; }
    .albom .download:hover img {
      -webkit-filter: invert(90%);
      filter: invert(90%); }
  .albom .download img {
    margin-left: 9px;
    margin-top: -4px; }
.albom .cart {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #00a552;
  padding: 10px 15px 7px 15px;
  border-radius: 3px;
  font-size: 15px;
  background: #00a552;
  margin-left: 15px;
  display: inline-block;
  margin-top: 25px; }
  .albom .cart:hover {
    text-decoration: none; }
    .albom .cart:hover img {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); }
  .albom .cart img {
    margin-left: 9px;
    margin-top: -3px;
    transition: 0.3s; }

.song ol {
  margin-top: -30px; }
  .song ol li {
    color: #494949;
    margin-top: 10px;
    float: left;
    margin-top: 15px; }
    .song ol li audio {
      border: 1px solid #ccc;
      height: 34px;
      margin-top: 5px;
      float: left; }
    .song ol li a {
      font-size: 14px;
      font-style: italic;
      color: #838383;
      margin-left: 14px;
      margin-top: 11px;
      float: left; }

.br-hidden {
  display: none; }

footer {
  background: url("../img/bg-yellow.png");
  width: 100%;
  bottom: 0;
  z-index: -1;
  height: 200px;
  margin-top: -15px;
  text-align: center; }
  footer img {
    margin-top: 90px; }

.white-popup2 {
  position: relative;
  background: #F8F8F8;
  padding: 1px 20px 10px 25px;
  width: auto;
  max-width: 500px;
  margin: 0 auto; }
  .white-popup2 iframe {
    width: 100%;
    height: 500px; }
  .white-popup2 h3 {
    color: #febf13;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.8px; }

.send {
  text-align: center;
  background: #fff;
  padding: 10px 15px 8px 15px;
  border: 1px solid #ccc;
  margin-top: 10px;
  transition: 0.3s; }
  .send:hover {
    background: #00a552;
    color: #fff;
    text-decoration: none;
    border: 1px solid #00a552; }

#test-popup2 {
  outline: none; }

.b-modal {
  color: #fff;
  text-align: center;
  background: #febf13;
  padding: 20px 50px; }

.arcticmodal-container {
  z-index: 9999; }

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8); }

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

form input {
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px 8px 15px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 10px;
  margin-top: 5px; }
  form input:active {
    border: 1px solid #febf13;
    outline: none; }
  form input:focus {
    border: 1px solid #febf13;
    outline: none; }
form textarea {
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px 8px 15px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 10px;
  margin-top: 5px; }
  form textarea:active {
    border: 1px solid #febf13;
    outline: none; }
  form textarea:focus {
    border: 1px solid #febf13;
    outline: none; }
form label {
  font-size: 14px;
  font-weight: 300;
  color: #606060;
  margin-left: 10px; }

#inline-popups2 {
  display: inline-block; }
